$black-shade: #171717;
$white-shade: #f6f6f6;
$accent: #f38d8d;
$primary: #68b0c1;
$primaryDark: #227284;
$primaryLight: #b9dde7;

@mixin primaryFont($size) {
    font-family: 'Oswald', sans-serif;
    color: $black-shade;
    font-size: $size * 1px;
    font-size: ($size / 10) * 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin secondaryFont($size) {
    font-family: 'Cabin', serif;
    color: $black-shade;
    font-size: $size * 1px;
    font-size: ($size / 10) * 1rem;
    line-height: 32px;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}

html {
    font-size: 62.5%;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.wrapper {
    max-width: 1600px;
    width:80%;
    margin: 0 auto;
}

// ICONS STYLES

.icons {
    font-size: 20px;
    // padding: 15px 30px 0 0 ;
    padding: 20px;
    &__burger {
        display: none;
        // background: rgba(255,255,255,0.6);
        background: rgba($primaryLight, 0.8) ;
        // display: block;
        border-radius: 50%;
        font-size: 30px;
        position: absolute;
        top: 7px;
        right: 10px;
    }
    &--blue {
        background: $primaryLight;
        border-radius: 50%;
    }
    &--side {
        padding: 0 30px 0 0;
        font-size: 25px;

    }
}

// BUTTON STYLES

.btn {
    text-decoration: none;
    @include primaryFont(20);
    background: $accent;
    padding: 10px 25px;
    display: inline-block; 
    transition: all 0.4s;
    &:hover {
        background: lighten($accent, 10);
        box-shadow: 0px 2px 5px $black-shade;
    }
    &--left{
        display: flex;
        justify-content: flex-end;
    }
    &--large {
        flex-grow: 1;
        border: none;
    }
}

@media (max-width: 770px) {
    .wrapper {
        width: 90%;
    }
    .icons {
        &__burger {
            display: block;
            z-index: 10;
        }
    }
}





