.header--main {
    display: flex;
    background: $primaryLight;
    height: 65vh;

}

.header-content {
    display: flex;
    align-items: center;
}

.header__profile-image {
    min-width: 400px;
    width: 40%;
    position: relative;
    top: 10%;
}

.header__hero-text {
    @include primaryFont(100);
    margin: 7%;
    // &::after {
    //    content: url('/assets/Circle\ text.png')
    // }
}