.header--main {
    display: flex;
    background: $primaryLight;
    height: 65vh;
    .main-header {
        display: flex;
        align-items: center;
        &__profile-image {
            min-width: 400px;
            width: 40%;
            position: relative;
            top: 10%;
        }
        &__hero-text {
            @include primaryFont(140);
            margin: 7%;
            position: relative;
            &::after {
               content: url('/assets/circle-text.png');
               position: absolute;
               top: -10%;
               left: 72%;
              
            }
        }
    }
}