.header--main {
    display: flex;
    align-items: center;
    background: $primaryLight;
    height: 70vh;
    .main-header {
        display: flex;
        justify-content: center;
        align-items: center;
        &__profile-image {
            width: 40%;
            max-width: 450px;
            min-width: 250px;
            box-shadow: 20px 20px white;
            position: relative;
            top: 40px;
        }
        &__hero-text {
            @include primaryFont(140);
            margin: 7%;
            position: relative;
            &::after {
               content: url('/assets/circle-text.png');
               position: absolute;
               top: -10%;
               left: 72%;
            }
        }
    }
}

.header {
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &--blog{
        background-image: url('/assets/blog-image-1.jpg');
    }
    &--contact {
        background-image: url('/assets/contact-image-1.jpg');
    }
    &__heading {
        @include primaryFont(80);
    }
    &__content {
        height: 47vh;
        display: flex;
        align-items: flex-end   
    }

}

@media (max-width: 1200px) {
    .header--main {
        .main-header {
            &__profile-image {
                top: 0;

            }
        }
    }
}

@media (max-width: 530px) {

    .header--main{
        background: url('/assets/home-image-1.jpg') center;   
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .warpper {
            width: 100%;
        }
        .main-header{

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            &__profile-image {
                display: none;
            }
            &__hero-text {
                &::after {
                    display: none;
                }
                @include primaryFont(110);
                mix-blend-mode: lighten;
                background-color: $primaryLight;
                text-shadow: 1px 1px 1px $black-shade;
                width: 100%;
                height: 100%;
                text-align: center;
                padding-top: 160px;
                margin: 0;
            }
        }

    }
}