.section {
    background: $white-shade;
    &__heading {
        @include primaryFont(42);
    }
    &__sub-heading {
        @include primaryFont(32);
    }
    &__text {
        @include secondaryFont(20);
        margin: 20px 0;
    }

    &__inner {
        padding: 80px 0;
        &__whos-harper {
            display: flex;
            justify-content: flex-end;
        }
        &__overview {
            .overview__list {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                list-style: none;

                &-item {
                    display: flex;
                    width:50%;
                    margin-bottom: 30px;
                }
            }
        }
        &__things {
            padding: 0;
            &--end {
                display: flex;
                flex-direction: row-reverse;
            }
            &--start {
                display: flex;
            }
            .things-item {
                width: 50%;
            }
            .things__image {
                object-fit: cover;
                height:100%;
                &--dark {
                    position: relative;
                    top: -40px;
                    box-shadow: 20px 20px $primaryDark, -200px 20px $primaryDark;
                }
                &--light {
                    position: relative;
                    top: 40px;
                    box-shadow: 20px 20px $primaryLight, 200px 20px $primaryLight;
                }
            } 
        }
        &__journey {
            display: flex;
            .journey__image {
                box-shadow: 20px 20px $primaryDark;
                margin: 70px 0 0 0;
            }
        }
        &__gallery {
            display: flex;
            justify-content: space-between;
            .image-container__gallery-item {
                width: 30%;
            }
        }
    }
}

.text-container {
    &__whos-harper {
        width: 50%;
    }
    &__things {
        margin: 70px 0 20px 90px;
        &--right {
            margin: 30px 70px 70px 0;;
        }    
    }
    &__journey {
        width: 70%;
        margin: 70px 0 20px 90px;
    }
}

.form {
    // border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 66%;

    &__item {
        @include secondaryFont(18);
        // border: none;
        padding: 10px;

    }
    &__info--small {
        // width: 50%;
        flex-grow: 1;
        &:first-child {
            margin: 0 20px 0 0;

        }


    }
    &__info--large {
        width: 100%;
        height: 300px;
        margin: 20px 0;
        resize: none;
        &:hover {
            resize: vertical
        }
      
   }
}
