.section {
    background: $white-shade;
    &__heading {
        @include primaryFont(42);
    }
    &__sub-heading {
        @include primaryFont(32);
    }
    &__text {
        @include secondaryFont(20);
        margin: 20px 0;
    }
    &__inner {
        padding: 80px 0;
        &__whos-harper {
            display: flex;
            justify-content: flex-end;
        }
        &__overview {
            .overview__list {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                list-style: none;

                &-item {
                    display: flex;
                    width:50%;
                    margin-bottom: 30px;
                    // &--bullet{
                    //     background: $primaryLight;
                    //     display: flex;
                    //     flex-direction: column;
                    //     justify-content: start;

                    // }
                }
            }
        }
        &__things {
            padding: 0;
            &--end {
                display: flex;
                flex-direction: row-reverse;
            }
            &--start {
                display: flex;
            }
            .things-item {
                width: 50%;
            }
            .things__image {
                object-fit: cover;
                height:100%;
                &--dark {
                    position: relative;
                    top: -40px;
                    box-shadow: 20px 20px $primaryDark, -200px 20px $primaryDark;
                }
                &--light {
                    position: relative;
                    top: 40px;
                    box-shadow: 20px 20px $primaryLight, 200px 20px $primaryLight;
                }
            } 
        }
        &__journey {
            display: flex;
            .journey__image {
                box-shadow: 20px 20px $primaryDark;
                margin: 70px 0 0 0;
            }
        }
        &__gallery {
            display: flex;
            justify-content: space-between;
            .image-container__gallery-item {
                width: 30%;
            }
        }
        &__contact {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}

.text-container {
    &__whos-harper {
        width: 50%;
    }
    &__things {
        margin: 70px 0 20px 0;
        padding: 0 0 0 90px;
        &--right {
            margin: 30px 0 70px 0;
            padding: 0 70px 0 0;
        }    
    }
    &__overview {
        padding-left: 20px;
        &__links {
            text-decoration: none;
            color: $black-shade;
            &:hover {
                border-bottom: 3px solid $primaryLight;

                text-shadow: 4px 4px 0px $primaryLight;
            }
        }
    }
    &__journey {
        width: 70%;
        margin: 70px 0 20px 90px;
    }
}

.side {
    width: 33%;
    &__section {
        padding: 30px 30px 5px 30px;
        background: white;
        margin-bottom: 30px;
        &__image {
            padding-bottom: 20px;
        }
    }
    &__list {
        padding: 0;
        list-style: none;
        &__item--bullet {
            padding-left: 20px;
        }
    }
    &__social{
        & a:last-of-type i {
            padding: 0;
        }
        &__link{
            color: $primaryDark;
            transition: color 0.3s;
            &:hover {
                color: $accent;
            }
        }
    }
    &__email {
        @include primaryFont(18);
        text-decoration: none;
        color: $black-shade;
    }
}

.side__main {
    width: 65%;
    &__article {
        background: white;
        padding: 30px;
        margin-bottom: 20px;
        &--blue {
            border-bottom: 5px solid $primaryDark;
        }
    }
    &__comment {
        display: flex;
        .comment-image{
            width: 300px;
            margin-right: 20px;
        }
    }
    .form {
        display: flex;
        flex-wrap: wrap;
        &__item {
            @include secondaryFont(18);
            border: none;
            padding: 10px 15px;
        }
        &__info--small {
            flex-grow: 1;
            &:first-child {
                margin: 0 20px 0 0;
    
            }
        }
        &__info--large {
            width: 100%;
            height: 300px;
            margin: 20px 0;
            resize: none;
            &:hover {
                resize: vertical
            } 
       }
    }
}

@media (max-width: 1200px) {
    .text-container {
        &__whos-harper {
            width: 100%;
        }
    }
}

@media (max-width: 950px) {
    .section {
        &__inner {
            &__overview {
                padding-bottom: 30px;
                .overview__list-item {
                    width: 100%;
                }
            }
            &__things {
                &--end {
                    display: block;
                }
                &--start {
                    display: block;
                }
                .things-item {
                    width: 100%;
                }
                .things__image {
                    top:0;
                    width:100%;
                }
            }
            &__journey {
                display: block;
                text-align: center;
                .journey__image {
                    box-shadow: 20px 20px $primaryDark;
                    margin: 30px auto;
                }
            }
            &__gallery {
                padding: 40px 0;
            }
        }
    }

    .text-container {
        &__things {
            margin: 70px 0 70px 0;
            padding: 0;
            &--right {
                margin: 90px 0 70px 0;
            }    
        }
        &__journey {
            width: 100%;
            margin: 70px auto auto;
        }
    }
}

@media (max-width: 960px) {
    .side__main {
        .form {
            &__info--small {
                width: 100%;
                &:first-child {
                    margin: 0 0 20px 0;
        
                }
            }
        }
    }
}

@media (max-width: 910px) {
    .section {
        &__inner {
            &__contact {
                display: block;
            }
        }
    }

    .side {
        &__main{
            width: 100%;
            .form {
                &__info--small {
                    width: 100%;
                    &:first-child {
                        margin: 0 0 20px 0;
                    }
                }
            }   
        }
        &__contact {
            width: 100%;
            margin: 20px 0;
            text-align: center;
        }
        &__blog {
            width: 100%;
            text-align: center;

        }
        &__section {
            // padding-bottom: 5px;
            &__image img {
            display: inline-block;
             }
        }
    }
}

@media (max-width: 460px) {
    .header__content {
        .header__heading {
            @include primaryFont(55);
        }
    
    }
}
 
@media (max-width: 481px) {
    .section {
        &__inner {
            padding: 40px 0;
            &__overview {
                padding-bottom: 0;
                .overview__list{
                    text-align: center;
                    &-item {
                        display: block;
                    }
                }
            }
            &__things {
                padding-top: 0;
            }
        }
    }

    .text-container {
        &__overview {
            padding: 0;
            margin-top: 20px;
        }
    }
}


